@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway'), url('./Raleway-Black.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway'), url('./Raleway-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway'), url('./Raleway-ExtraBold.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  src: local('Raleway'), url('./Raleway-ExtraBoldItalic.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway'), url('./Raleway-ExtraLight.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  src: local('Raleway'), url('./Raleway-ExtraLightItalic.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  src: local('Raleway'), url('./Raleway-Italic.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway'), url('./Raleway-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url('./Raleway-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway'), url('./Raleway-SemiBold.ttf') format('opentype');
}
